@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    margin-right: 90px;
    font-family: "Inconsolata";
    height: 95%;
    min-height: 95%;
    color: black;
    padding-top: 60px;
    padding-left: 160px;
    background-image: url('/background.png');
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
}
hr {
    border: 0;
    height: 0;
    #border-top: 1px solid rgba(0, 0, 0, 0.1);
    #border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#author-name {
    font-size: 30px;
    margin-top: 10px;
    color: white;
    display: inline-block;
}
.navbar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: url('/umasslogo2.jpg'), url('/kdl-logo-initials-only.gif');
    background-position: left top 0px, right top 0px;
    background-size: 150px auto, 50px auto;
    background-repeat: no-repeat, no-repeat;
}
.navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
}
.navbar a:hover {
    color: #0000CD;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}

.icon-bar {
    width: 90px;
    float: right;
    position: fixed;
    z-index: 1;
    display: inline-block;
    background-color: #555;
    right: 0px;
    top: 22%;
    bottom: 22%;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar a:hover {
    background-color: #0000CD;
}



/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}
.header {
    height: 100px;
    background-color: #800000;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    height: 10;
    margin-top: -1.5em;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 580px) {
    #author-name {
        display: inline-block;
    }
}

@import "typography";
@import "tables";
